nav {
  background-color: greenyellow;
  box-shadow: 10px 10px 20px rgba(154, 145, 236, 0.603);
}
h2 {
  letter-spacing: 0.5vh;
  margin-left: 5px;
}
span {
  color: blue;
  font-size: larger;
}
ul {
    list-style-type: none;
  }
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: blue;
  background: transparent;
  border: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: darkolivegreen;
  transform: rotate(90deg);
}


.clickLinks {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
.clickLinks a {
  color: blue;
  letter-spacing: 0.5vh;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.clickLinks a:hover {
  color: white;
  font-size: larger;
  background: black;
}


.showLinks {
  height: 10rem;
}


@media screen and (min-width: 800px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* .nav-header {
    padding: 0;
  } */
  .nav-toggle {
    display: none;
  }
  .clickLinks {
    display: flex;
    height: auto;
    color: darkolivegreen;
  }
  .clickLinks a {
    color: black;
    padding: 0;
    margin: 0 0.5rem;
  }
  .clickLinks a:hover {
    color: blue;
    font-weight: bolder;
    background: transparent;
  }
}
